$a: 4;
$b: 3;

html { background: #f9f9f9; }

body { margin: 0; }

.slide {
  /* relevant part */
  position: absolute;
  left: calc(50vw - #{$a/$b/2*100vh});
  height: 100vh; width: $a/$b*100vh;
  
	/* $a and $b need to be integers for media query */
  @media (max-aspect-ratio: #{$a}/#{$b}) {
    top: calc(50vh - #{$b/$a/2*100vw}); left: auto;
    width: 100vw; height: $b/$a*100vw;
	}
  
  /* non-essential styles */
  overflow: hidden;
  box-sizing: border-box;
  padding: .5em;
  background: #e53b2c;
	color: #f9f9f9;
  font: 4.5vmin sans-serif;
}